%h3.subheader Add a comment
= simple_form_for [commentable.project, commentable, (flash[:comment] || commentable.comments.build)] do |f|
  .inputs
    = f.input :body, input_html: { rows: 10 }
  .actions
    = f.submit class: 'button radius'
