%li.event.version{ id: "version_#{version.id}" }
  Changed by #{version.user.email}
  #{time_ago_in_words version.created_at} ago
  (#{link_to 'compare', story_comparison_path(version.versioned, version.number - 1, version.number), rel: 'compare'})
