%p Hi!

%p Please collaborate with me on #{@title} at Storyteller, an application for collaboratively writing user stories.

%p Please follow this URL to accept this invitation:

%p= link_to "Join project #{@title}", @url

%p Kind regards,

%p The Storyteller Code Monkey
