%table.twelve
  %thead
    %tr
      %th ID
      %th Title
      %th Comments
      %th Requirements
      %th Completed
      %th Owner
      %th Actions
  %tbody
    = render partial: 'stories/summary_story', collection: summary_stories
