%div
  = link_to 'Add new epic', new_project_epic_path(current_project), class: 'button radius'

%ul.epics.block-grid.three-up
  - epics.each do |epic|
    %li[epic]
      %h4.subheader
        = epic.permalink
        %small (#{epic.stories_count})
      = markdown truncate(epic.body, length: 130)
