%div
  = link_to 'Add new epic', new_epic_path, class: 'button radius'

%ul.epics.block-grid.three-up
  - epics.each do |epic|
    %li[epic]
      = epic.permalink
      %footer
        = epic.stories_count
      = markdown epic.body
