%h1 Collaborations#index
%p Find me in app/views/collaborations/index.html.haml

= simple_form_for [current_project, collaboration_request] do |f|
  .inputs
    = f.input :email
  .actions
    = f.submit 'Send Invitation'

%h2.subheader Collaborators
%ul.collaborators
  %li.collaboration= current_project.owner.email
  - collaborations.each do |collaboration|
    %li[collaboration]= collaboration.user.email

%h2.subheader Pending invitations
%ul.invitations
  - current_project.invitations.each do |invitation|
    %li[invitation]= invitation.email
