@import "foundation";

pre.only_a {
  background-color: #ffe1e1;
}

pre.only_b {
  background-color: #e1ffe1;
}

pre.body, #story_body {
  font-family: 'Menlo', monospace;
  white-space: pre-wrap;
  line-height: 130%;
}
