@import "foundation";

pre del {
  background-color: #ffe1e1;
  color: #900;
  text-decoration: none;
}

pre ins {
  background-color: #e1ffe1;
  color: #090;
  text-decoration: none;
}

pre.line_numbers {
  color: #999;
}

pre.body, #story_body {
  font-family: 'Menlo', monospace;
  white-space: pre-wrap;
  line-height: 130%;
}
